<p id="notice"><%= notice %></p>

<h1>Listing Things</h1>

<table id='listofall'>
  <thead>
    <tr>
      <th>Something</th>
      <th>Somewhat</th>
      <th>And yet</th>
      <th>Whatever</th>
      <th>And a number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @things  %>
  </tbody>
</table>

<br>

<%= link_to 'New Thing', new_thing_path, id:'new_linky', remote: true %>
